# pip3 install torch==1.13.0+cu117 torchvision==1.13.0+cu117 torchaudio==1.13.0+cu117 --extra-index-url https://download.pytorch.org/whl/cu117
-e git+https://github.com/pharmapsychotic/BLIP.git@lib#egg=blip
clip-interrogator==0.3.2